<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hinzufügen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="titleInput">Titel</label>
            <input type="text" class="form-control" id="titleInput" placeholder="Titel" #title>
          </div>
          <div class="form-group">
            <label for="descriptionInput">Beschreibung</label>
            <textarea class="form-control" id="descriptionInput" placeholder="Beschreibung" rows="3" #description></textarea>
          </div>
          <div class="form-group">
            <label for="tagsInput">Tags</label>
            <input type="text" class="form-control" id="tagsInput" placeholder="Tag" #tags>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Zurück</button>
        <button type="submit" class="btn btn-success" (click)="add(title.value, description.value, tags.value)" data-dismiss="modal" aria-label="Close">Speichern</button>
      </div>
    </div>
  </div>
</div>
