<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th class="checked">Erledigen</th>
      <th>Titel</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor = "let task of tasks" routerLink="/details/{{task.id}}">

      <!-- Einen Button zum abhacken ausgeben wenn die Aufgabe noch nicht erfüllt wurde -->
      <ng-template [ngIf]="task.checked==false">
        <td class="checked">
          <button type="button" class="btn btn-success" routerLink="/test"> <i class="fas fa-check"></i> </button>
        </td>
      </ng-template>

      <!-- Button zum löschen ausgeben wenn die Aufgabe bereits erfüllt wurde -->
      <ng-template [ngIf]="task.checked==true">
        <td class="checked">
          <button type="button" class="btn btn-dark"> <i class="fas fa-trash"></i> </button>
        </td>
      </ng-template>

      <td> {{ task.title }} </td>

      <td>
        <span *ngFor="let tag of task.tags"> <button type="button" class="btn btn-primary btn-sm mr-2">{{tag}}</button> </span>
      </td>

    </tr>
  </tbody>
</table>
