
<div class="btn-toolbar" role="group" aria-label="Index Group">

  <div class="btn-grp">
    <a router-link='/table'> <button type="button" class="btn btn-primary mr-3" routerLink="/add">Hinzufügen</button> </a>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-search"></i></div>
    </div>
    <input type="text" class="form-control" placeholder="Suche" aria-label="Input group example" aria-describedby="btnGroupAddon">
  </div>

</div>

<div class="table-responsive">

  <table class="table table-hover">
    <thead>
      <tr class="table-primary">
        <th class="checked">Status</th>
        <th>Titel</th>
        <th>Tags</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor = "let task of tasks">

        <!-- Einen Button zum abhaken ausgeben wenn die Aufgabe noch nicht erfüllt wurde -->
        <ng-template [ngIf]="task.checked==false">
          <td class="checked">
            <button type="button" class="btn btn-danger" (click)="toggle(task)"> <i class="fas fa-ban"></i> </button>
          </td>
        </ng-template>

        <!-- Button zum löschen ausgeben wenn die Aufgabe bereits erfüllt wurde -->
        <ng-template [ngIf]="task.checked==true">
          <td class="checked">
            <button type="button" class="btn btn-success" (click)="toggle(task)"> <i class="fas fa-check"></i> </button>
          </td>
        </ng-template>

        <td routerLink="/details/{{task.id}}" data-toggle="tooltip" data-placement="top" title="{{task.description}}"> {{ task.title }} </td>

        <td routerLink="/details/{{task.id}}">
          <span *ngFor="let tag of task.tags"> <button type="button" class="btn btn-primary btn-sm mr-2">{{tag}}</button> </span>
        </td>

      </tr>
    </tbody>
  </table>
</div>
