<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th class="checked">Erledigt</th>
      <th>Titel</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor = "let task of tasks" routerLink="/details">

      <ng-template [ngIf]="task.checked==false">
        <td class="checked">
          <button type="button" class="btn btn-success" routerLink="/test"> <i class="fas fa-check"></i> </button>
        </td>
      </ng-template>
      <ng-template [ngIf]="task.checked==true">
        <td class="checked">
          <button type="button" class="btn btn-dark"> <i class="fas fa-trash"></i> </button>
        </td>
      </ng-template>
      <td> {{ task.title }} </td>
      <td> {{ task.tags }} </td>

    </tr>
  </tbody>
</table>
